<section class="productor-registro-section">
  <div class="auto-container">
      <!--Section Title-->
        <h1>Nuevo Productor</h1>

      <div class="productor-form default-form row col-md-8 col-md-offset-2">
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="nombreProductor" placeholder=" * Nombre" />
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="descripcionProductor" placeholder="Acerca de m&iacute;" [(ngModel)]="productor.descripcion"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <select id="tipoDocumento" [(ngModel)]="productor.tipo_documento">
            <option value="-1">-- Tipo de Documento --</option>
            <option value="1">C&eacute;dula de ciudadan&iacute;a</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="numeroDocumentoProductor" placeholder="N&uacute;mero de documento" [(ngModel)]="productor.documento"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="direccionProductor" placeholder="Direcci&oacute;n" [(ngModel)]="productor.direccion"/>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <select id="cooperativa" [(ngModel)]="productor.cooperativa">
            <option value="-1">-- Cooperativa --</option>
            <option *ngFor="let cooperativa of cooperativas" value="{{cooperativa.id}}">{{cooperativa.nombre}}</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <div class="col-md-6 col-md-offset-3">
            <label for="foto">Foto*:</label>
            <input type="file" id="foto" #entradaFoto (change)="loadFoto(entradaFoto)">
            <img src="{{productor.foto}}" width="200" >
          </div>
          <div class="col-md-6 col-md-offset-3">
            <agm-map class="registro-map" [latitude]="marker.latitud" [longitude]="marker.longitud" (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="marker.latitud" [longitude]="marker.longitud"></agm-marker>
            </agm-map>
          </div>
        </div>
        <div>
          <button (click)="saveProductor()" class="theme-btn btn-style-two ui-state-disabled">Env&iacute;ar datos</button>
        </div>
      </div>
  </div>
</section>
