<div class="productor-form">
  <div class="form-item">
    <label for="nombreProductor">Nombre*: </label>
    <input type="text" id="nombreProductor" placeholder="Nombre" [(ngModel)]="productor.nombre"/>
  </div>
  <div class="form-item">
    <label for="descripcionProductor">Acerca de m&iacute;*: </label>
    <input type="text" id="descripcionProductor" placeholder="Acerca de m&iacute;" [(ngModel)]="productor.descripcion"/>
  </div>
  <div class="form-item">
    <label for="tipoDocumento">Tipo de documento*: </label>
    <select id="tipoDocumento" [(ngModel)]="productor.tipo_documento">
      <option value="-1">-- Tipo de Documento --</option>
      <option value="1">C&eacute;dula de ciudadan&iacute;a</option>
    </select>
  </div>
  <div class="form-item">
    <label for="numeroDocumentoProductor">N&uacute;mero de documento*: </label>
    <input type="text" id="numeroDocumentoProductor" placeholder="N&uacute;mero de documento" [(ngModel)]="productor.documento"/>
  </div>
  <div class="form-item">
    <label for="direccionProductor">Direcci&oacute;n*: </label>
    <input type="text" id="direccionProductor" placeholder="Direcci&oacute;n" [(ngModel)]="productor.direccion"/>
  </div>
  <div class="form-item">
    <label for="cooperativa">Cooperativa*: </label>
    <select id="cooperativa" [(ngModel)]="productor.cooperativa">
      <option value="-1">-- Cooperativa --</option>
      <option *ngFor="let cooperativa of cooperativas" value="{{cooperativa.id}}">{{cooperativa.nombre}}</option>
    </select>
  </div>
  <div>
    <label for="foto">Foto*:</label>
    <input type="file" #entradaFoto (change)="loadFoto(entradaFoto)">
    <img src="{{productor.foto}}" width="200" >
  </div>
  <div>
    <button (click)="saveProductor()">Env&iacute;ar datos</button>
  </div>
</div>
