<!--Contact Section-->
<section class="contact-section">
  <div class="auto-container">
      <!--Section Title-->
        <h1>Nueva Cooperativa</h1>
        <div class="contact-form default-form">

           <form #formCooperativa="ngForm" (ngSubmit)="guardarCooperativa(formCooperativa)">
                <div class="row clearfix">

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input ngControl="nombre" type="text" name="nombre" value="" placeholder="Nombre *" ngModel required >
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="nit" value="" placeholder="NIT *" ngModel required>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="email" name="correo" value="" placeholder="Correo *" ngModel required>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="responsable" value="" placeholder="Responsable *" ngModel required>
                    </div>

                   <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="direccion" value="" placeholder="Dirección *" ngModel required>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="telefono" value="" placeholder="Telefono *" ngModel required>
                    </div>

                   <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="zona" value="" placeholder="Zona *" ngModel required>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <textarea name="descripcion" placeholder="Descripción" ngModel></textarea>
                    </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12 text-left" ><span>* Campos obligatorios</span></div>


                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center"><button [disabled]="!formCooperativa.valid" type="submit" class="theme-btn btn-style-two ui-state-disabled">Guardar</button></div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</section>

