<!--Page Title-->
<section class="page-title" style="background-image:url(/static/images/background/bg-page-title-1a.jpg);">
    <div class="auto-container">
        <h1>Productores</h1>
    </div>
</section>

<!--Shop Section-->
<section class="shop-section">
    <div class="auto-container">
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Name Column -->
                <ng-container matColumnDef="foto">
                    <mat-header-cell *matHeaderCellDef> Foto</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <img src="{{ element.foto }}" style="width: 80%;"/></mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef> Documento</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.documento }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element"><a href="detalle/{{ element.id }}">Ver</a></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</section>



